.radio-label {
  cursor: pointer;
}
input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
* {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';}

/* textarea {
  width: 
} */

button {
  padding: 10px 50px;
  border-radius: 4px;
  background: orange;
  margin: 10px auto;
  text-align: center;
  display: inherit;
  cursor: pointer;
}

.wrap {
  // display: flex;
  // justify-content: space-around;
  padding: 10px 20px;
  .cate-title {margin-right: 4px; color: #d1d0d0;}
  form {
    position: fixed;
    // flex: .3;
    background: #BA423F;
    padding: 20px;
    left: 10px;
    top: 20px;
    width: 30%;
    min-width: 200px;
    height: 70vh;
    border-radius: 10px;
    
    

    label {
      &.textarea {
        display: block;
        margin: 10px 0;

        &.hint {

        }
      }
      textarea {
        font-size: 1.1em;
        width: 100%;
      }
    }
  }

  .reviews-wrap {
    width: 60%;
    margin-left: 35%;
    min-height: 90vh;
    .switch-wrap {
      margin-top: 16px;
      margin-bottom: 16px;
      display: flex;
      z-index: 1;

      &.fixed {
        position: fixed;
        top: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        box-shadow: 0 10px 24px rgba(8, 15, 26, 0.16);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }
      p {
        margin: 0;
        cursor: pointer;
        padding: 10px 20px;
        border: 1px solid;
        &:hover {
          background: #efefef;
        }

        &.active {background: #BA423F;}

        &:not(:first-child) {
          border-left: 0px;
        }
        // &:last-child {
        //   border-left: 0px;
        // }
      }
    }

    .reviews.active {
      padding-top: 76px;
    }
    .each-review {
      position: relative;
      border: 1px solid #efefef;
      padding: 10px 15px;
      border-radius: 10px;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;

      .text {
        color: #5c5c5c;
        font-size: .9em;
      }

      .time {
        color: #b2b2b2;
      }

      .hint {
        font-size: 1.1em;
        &.nopass {
          color: red;
        }
      }

      .delete {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 20px;
        transform: translateY(-200%);
        opacity: 0;
        cursor: pointer;
        img {
          width: 100%;
        }

      }
      &:hover {
        .delete {
          opacity: 1;
        }
      }
    }

  }
}
.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}

#submit {
  display: flex;
  font-size: 1em;
  align-items: center;
  min-width: 200px;
  justify-content: center;

  p {
    display: none;
    margin: 0;
    &.active {
      display: block;
    }
  }
  #post-loading {
    display: none; 
    &.active {display: block;}
  }
  // position: fixed;
  // top: 20px;
  // right: 20px;
  // z-index: 2;
}

.note {
  color: #5c5c5c;
  p {margin: 0;}
  a {color: inherit;}
}